.btn {
    display: inline-block;
    font: inherit;
    padding: 10px !important;
    font-weight: 600;
    background: black !important;
    border: none;
    color: white !important;
    padding: 0;
    cursor: pointer;
  }